<div class="container d-flex flex-column align-items-center ">
    <ul class="list-unstyled w-auto" > 
        <% for(var i=0; i<posts.length; i++) {%>
            
            <li class="mt-4 ">
                <div class="card row justify-content-center mt-3 pt-3 bg-light w-75 w-sm-50 w-md-75 mx-auto">
                    <a href="/post/<%= posts[i]._id%>">
                        <img class="card-img-top" src="<%= posts[i].image%>" alt="<%= posts[i].title %>">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><%= posts[i].title %></h5>
                        <p class="card-text"><%= posts[i].caption %></p>
                    <div class="d-flex justify-content-between align-items-center mb-2">
    
                    <div class="d-flex align-items-center">
                        <a href="/post/<%= posts[i]._id%>">
                        <i class="bi bi-chat-left-text text-secondary me-1"></i>
                        </a>
                        <small class="text-muted me-2"><%= comments.filter(x => x.post.toString() == posts[i]._id.toString()).length %></small>
                    </div>
                
                    <div class="d-flex align-items-center">
                        <a href="/post/<%= posts[i]._id%>">
                        <i class="fa fa-heart text-danger me-1"></i>
                        </a>
                        <small class="text-muted me-2"><%= posts[i].favorites.length %></small>
                    </div>
                    </div>
                    </div>
                </div>
            </li>
        <% } %>
    </ul>
</div>