<%- include('partials/header') -%>
<div class="row justify-content-center">
  <div class="card row justify-content-center mt-3 pt-3 bg-light" style="max-width:320px">
    <img src="<%= post.image%>" class="card-img-top" alt="Product Image">
    <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.caption %></p>
        <div class="d-flex justify-content-between align-items-center">
            <span class="h5 mb-0">
              <% if (!post.favorites.includes(user.id)) { %>
          <form
          class="col-1"
          action="/post/favoritePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <% } else { %>
          <form
          class="col-1"
          action="/post/unfavoritePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart text-danger" type="submit"></button>
        </form>
        <% } %>
            </span>
            <div>
                <i class="fa fa-heart text-danger"></i>
                <small class="text-muted"><%= post.favorites.length %></small>
            </div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between bg-light">
        <a href="/profile"><button class="btn btn-primary btn-sm">Return to Profile</button></a>
        <a href="/feed"><button class="btn btn-primary btn-sm">Return to Feed</button></a>
    </div>
</div>
  

<%- include('partials/footer') -%>
