

<div class="container">
        <div class="mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div> 
        <!-- <div class="mt-2">
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
          </div> -->
  <div class="mt-2">
  <div class="d-flex flex-wrap justify-content-around">
    <div class="col-md-4 p-3 text-center d-flex flex-column justify-content-center">
      <img src="<%=profilePic%>" class="rounded-circle img-thumbnail mx-auto profile-thumb" alt="Profile Picture">
      <h5 class="card-title d-flex justify-content-around align-items-center">
                        <%=user.userName%>
                        <a href="/editProfile" class="btn btn-sm btn-outline-primary">
                                <i class="fas fa-edit"></i> Edit
                        </a>
                    </h5>
      <span><%=bio%></span>
    </div>
    <%if(posts.length < 4){ %>
      <div class="rounded">
          <div class="mt-5 shadow-sm p-3 mb-5 bg-white rounded">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Post</button>
            </form>
          </div>
      </div>
      <%}%>
      <%if(posts.length >= 4){ %>
        <div class="mt-5 shadow-sm p-3 mb-5 bg-white rounded">
          <span>Our data base does not support more than 4 posts on a profile.(I'm cheap)</span>
        </div>
      <%}%>
    </div>
      <div class="">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid rounded" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
      </div>  
    </div>
    <div class="row justify-content-center mt-5 mb-2">
    <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </div>
  </div>
  

